<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{576,306}</string>
                <key>spriteSourceSize</key>
                <string>{590,318}</string>
                <key>textureRect</key>
                <string>{{1,1337},{576,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhujiemian_di.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1334}</string>
                <key>spriteSourceSize</key>
                <string>{750,1334}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{752,1644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e2f5573862eedb84e25b77806078954:47926df1e2c07349f3425cd86c39ef04:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
