<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-advance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,112}</string>
                <key>spriteSourceSize</key>
                <string>{293,112}</string>
                <key>textureRect</key>
                <string>{{1,130},{293,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-classic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,127}</string>
                <key>spriteSourceSize</key>
                <string>{332,127}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{334,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7339ec42f7c4bfd6aa8a5cef5f72892:1d765cccb3d5779df232ccf7837e0f72:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
