<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>selectbg/btnLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{738,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectbg/btnRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{738,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectbg/circle-empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{738,261},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectbg/circle-full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{738,296},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectbg/passbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{735,955}</string>
                <key>spriteSourceSize</key>
                <string>{735,955}</string>
                <key>textureRect</key>
                <string>{{1,1},{735,955}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>selectbg.png</string>
            <key>size</key>
            <string>{867,957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4830746d06ab05cb415427e911cc0419:246f5cb564128dbf2fb0c36d0cc5d6d5:38b876507a7812233555f84189a41ff1$</string>
            <key>textureFileName</key>
            <string>selectbg.png</string>
        </dict>
    </dict>
</plist>
