<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame/btn-restart-up-en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,132}</string>
                <key>spriteSourceSize</key>
                <string>{117,132}</string>
                <key>textureRect</key>
                <string>{{247,909},{117,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame/btn-restart-up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,132}</string>
                <key>spriteSourceSize</key>
                <string>{117,132}</string>
                <key>textureRect</key>
                <string>{{116,992},{117,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/icon-paihangbang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,119}</string>
                <key>spriteSourceSize</key>
                <string>{117,119}</string>
                <key>textureRect</key>
                <string>{{235,1028},{117,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame/jifenpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,131}</string>
                <key>spriteSourceSize</key>
                <string>{277,133}</string>
                <key>textureRect</key>
                <string>{{1,614},{275,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>randomevent/btn-give2friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,113}</string>
                <key>spriteSourceSize</key>
                <string>{238,113}</string>
                <key>textureRect</key>
                <string>{{394,615},{238,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>randomevent/btn-leave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,113}</string>
                <key>spriteSourceSize</key>
                <string>{238,113}</string>
                <key>textureRect</key>
                <string>{{394,855},{238,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>randomevent/img-freechest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,291}</string>
                <key>spriteSourceSize</key>
                <string>{375,291}</string>
                <key>textureRect</key>
                <string>{{1,321},{375,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>randomevent/txt-freegift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,57}</string>
                <key>spriteSourceSize</key>
                <string>{306,57}</string>
                <key>textureRect</key>
                <string>{{443,1},{306,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tips/btn-home-up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{116,862},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips/btn-xiayiguan-normal-en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,113}</string>
                <key>spriteSourceSize</key>
                <string>{238,113}</string>
                <key>textureRect</key>
                <string>{{1,909},{238,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tips/btn-xiayiguan-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,113}</string>
                <key>spriteSourceSize</key>
                <string>{238,113}</string>
                <key>textureRect</key>
                <string>{{1,747},{238,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips/guaishouchibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{440,318}</string>
                <key>spriteSourceSize</key>
                <string>{452,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{440,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips/icon-qianwangpingfen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{292,114}</string>
                <key>spriteSourceSize</key>
                <string>{292,116}</string>
                <key>textureRect</key>
                <string>{{378,321},{292,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tips/icon-tuichu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{292,114}</string>
                <key>spriteSourceSize</key>
                <string>{292,116}</string>
                <key>textureRect</key>
                <string>{{278,615},{292,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame.png</string>
            <key>size</key>
            <string>{508,1148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:489d14fd606d74bbb5166d18487fe3cf:d371f5c95a8010518b3ba509c3365751:de3c7a7fc0cae1649732adc36eb84a12$</string>
            <key>textureFileName</key>
            <string>ingame.png</string>
        </dict>
    </dict>
</plist>
